// .current {
//   position: relative;
//   color: var(--accent-color);
//   &::after {
//     content: '';
//     width: 100%;
//     height: 4px;
//     color: var(--accent-color);
//     position: absolute;
//     background-color: #2196f3;
//     left: 0;
//     bottom: 0;
//     border-radius: 2px;
//   }
// }
.header {
  border-bottom: 1px solid #ececec;
  &-container {
    display: flex;
  }
}
.navigation {
  align-items: center;
  display: flex;
}
.navigation__list {
  margin-left: 93px;
  display: flex;
  display: none;
}
.navigation__item {
  & + & {
    margin-left: 50px;
  }
}
.navigation__link {
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  @include text-font(500, 14px, 1.14, 0.02em);
  color: var(--header-links-title-text-color);
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &:active {
    color: var(--accent-color);
  }
}
.header__list {
  align-items: center;
  display: flex;
  display: none;
  margin-left: auto;
  &:hover,
  &:focus,
  &:active {
    color: var(--accent-color);
  }
}
.header__item-mail {
  margin-right: 50px;
}

.header__tel-link {
  align-items: center;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  @include text-font(500, 14px, 1.14, 0.02em);
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &:active {
    color: var(--accent-color);
  }
}
.header__mail-link {
  align-items: center;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  @include text-font(500, 14px, 1.14, 0.02em);
  text-decoration: none;
  color: var(--primary-text-color);
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &:active {
    color: var(--accent-color);
  }
}
.header__mail-icon {
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  fill: currentColor;
}
.header__tel-icon {
  margin-right: 10px;
  align-items: center;
  fill: currentColor;
}
.current {
  position: relative;
  color: var(--accent-color);
  &::after {
    content: '';
    width: 100%;
    height: 4px;
    color: var(--accent-color);
    position: absolute;
    background-color: var(--accent-color);
    left: 0;
    bottom: 0;
    border-radius: 2px;
    padding-bottom: -50px;
  }
}
.mob-menu {
  position: fixed;
  background-color: #ffffff;
  z-index: 2;
  width: 100vw;
  height: 100vw;
  top: 0;
  left: 0;
  padding: 48px 83px 48px 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.open-menu-btn {
  display: block;
  margin-right: 0;
  margin-left: auto;
  border: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
}
.closed-menu-btn {
  margin-top: 10px;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  // position: absolute;
  display: block;
  left: 0;
  top: 52;
}
.open-menu-icon,
.closed-menu-icon {
  &:hover,
  &:focus,
  &:active {
    fill: var(--accent-color);
    transition: fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
// .mob-nav-list {
//   margin-bottom: 302px;
// }
.mob-nav-item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-navigation-link {
  @include text-font(500, 40px, 1.17, 0.02em);
  color: #212121;
  &:hover,
  &:focus,
  &:active {
    color: var(--accent-color);
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.header-mob-item-tel {
  margin-bottom: 32px;
}
.header-mob-item-mail {
  margin-bottom: 64px;
}
.mob-tel-link {
  @include text-font(500, 40px, 1.17, 0.02em);
  color: #2196f3;
}
.mob-mail-link {
  @include text-font(500, 24px, 1.16, 0.02em);
  color: #757575;
}
.mob-soc-list {
  display: flex;
}
.mob-soc-item {
  padding: 10px;
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
.mob-socials-link {
  @include text-font(500, 18px, 1.22, 0.02em);
  color: #2196f3;
}
.mob-soc-item {
  & + & :not(first-child) {
    margin-left: 20px;
  }
}
.mob-nav-list {
  display: block;
}
.closed-menu-btn {
  border: transparent;
  display: block;
  margin-right: 0;
  margin-left: auto;
}
