.our-team{


    background:  rgb(245, 244, 250);
    margin-top: 94px;
    margin-bottom: 94px;



    @include default{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    @include phone{
 
    }
    
    @include tablet{
        
    } 
    @include desktop{

    } 
    


&__h3 {
    @include font(Roboto, normal, 500, 16px, 1.18, none, 0.03em);
    color: $main-black-color;
    text-align: center;
    }

&__text {
    @include font(Roboto, normal, 400, 16px, 1.18, none, 0.03em);
    color: $main-gray-color;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    }

&__title{
    @include font(Roboto, normal, bold, 36px, 1.16, none, 0.03em);
    color: $main-black-color;
    text-align: center;
 
    padding-top: 94px;

     }

     &__conteiner {
       padding-top: 24px;
     
        padding-bottom: 30px;
        background: $main-white-color;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }

&__list {
    @include default{
        
        margin-bottom: 15px;
        margin-top: 15px;
                }

    @include phone{
        padding-bottom: 60px;
    
                 }
                
                

    @include tablet{
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
 
        padding-bottom: 64px;
     } 

    @include desktop{
        display: flex;
        margin-left: -30px;
        margin-top: 50px;
        padding-bottom: 94px;
    }  
}
        
&__item{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: color 300ms linear;
    @include default{
         
        margin-bottom: 15px;
        margin-top: 30px;
    }

    @include tablet{
        width: calc(100% / 2 - 30px);
        margin-left: 30px;
  
            } 

    @include desktop{
         width: calc(100% / 4 - 30px);
         margin-left: 30px;
    }
    
    &:focus, &:hover{
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    
     
       }
       & + & {

        @include tablet{
            margin-left: 30px;
 
        }
        
        @include desktop{
            margin-left: 30px;
 
        }
        &-cont {
        padding-top: 94px;
        //padding-top: 30px;
        padding-bottom: 30px;
        background: $main-white-color;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
           
  }
}

 

 //social links

.our-team-social-list{
    display: flex;
    justify-content: center;
 
    }

.our-team-social__link{

&__icon{
    fill: $main-light-gray-color;
}

  width: 44px;
  height: 44px;
  
  border-radius: 50%;
  display: flex;
  align-items:center;
  justify-content: center;
  color: $main-light-gray-color;
  transition: color 300ms linear,background-color 300ms linear;

   
&:hover, &:focus{
background-color: $main-blue-color;
color: $main-white-color;
fill: #ffffff;
}
}

.our-team-social__item + .our-team-social__item{
  margin-left: 10px;
} 